* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

a {
   color: inherit;
   text-decoration: none;
}
.h-full {
   height: 100%;
}
.marquee-left-clip {
   clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 54%, 0% 0%);
}
.marquee-right-clip {
   clip-path: polygon(25% 0%, 100% 0%, 100% 98%, 0% 100%);
}
@media screen and (min-width: 425px) {
   .col-xs-6 {
      flex: 0 0 50%;
      max-width: 50%;
   }
}
@media screen and (min-width: 375px) {
   .col-xss-6 {
      flex: 0 0 50%;
      max-width: 50%;
   }
}
