.group:hover .group-hover\:d-block {
  display: block !important;
}
.group:hover .group-hover\:d-flex {
  display: flex !important;
}
.group:hover .group-hover\:flex-column {
  flex-direction: column !important;
}
.group:hover .group-hover\:border-transparent {
  border: 2px solid transparent !important;
}
.group:hover .group-hover\:bg-light {
  background-color: rgb(236, 236, 236) !important;
}
.group:hover .group-hover\:text-gray {
  color: rgb(63, 63, 63) !important;
}
.group:hover .group-hover\:text-primary {
  color: rgb(0, 89, 243) !important;
}
