.recentNews {
   position: relative;
}
.recentNews .swiper-pagination-fraction,
.recentNews .swiper-pagination-custom,
.recentNews .swiper-horizontal > .recentNews .swiper-pagination-bullets,
.recentNews .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: var(--swiper-pagination-bottom, auto);
   top: var(--swiper-pagination-top, 5px);
   left: auto;
   right: 15px;
   width: auto !important;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.05);
   backdrop-filter: blur(1px);
   padding: 0 5px;
}
.recentNews .swiper-button-prev::after,
.recentNews .swiper-button-next::after {
   font-family: swiper-icons;
   font-size: 23px !important;
   letter-spacing: 0;
   font-variant: initial;
   line-height: 1;
   text-transform: none !important;
   background-color: rgba(0, 0, 0, 0.287);
   padding: 1rem 1.5rem;
}
.recentNews .swiper-button-next,
.recentNews .swiper-rtl .swiper-button-prev {
   right: var(--swiper-navigation-sides-offset, 10px);
   left: auto;
}
.recentNews .swiper-button-next {
   right: 0 !important;
}
.recentNews .swiper-button-prev {
   left: 0 !important;
}
.recentNews .swiper-button-next,
.recentNews .swiper-button-prev {
   position: absolute;
   top: var(--swiper-navigation-top-offset, 50%);
   width: auto !important;
   height: auto !important;
   color: var(--swiper-navigation-color, white);
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.recentNews:hover .swiper-button-next,
.recentNews:hover .swiper-button-prev {
   opacity: 1;
   visibility: visible;
}
